#### 문제 41. 소수 판별 <br>
숫자가 주어지면 소수인지 아닌지 판별하는 프로그램을 작성해주세요. <br>
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.
- 소수: 1과 자기 자신만으로 나누어 떨어지는 1보다 큰 양의 정수
- 음의 소수는 고려하지 않습니다.

In [3]:
def prime(n):
    if n <= 1:
        return "No"
    if n == 3:
        return "Yes"
    
    i = 2
    소수 = True
    while (i ** 2) < n:
        if n % i == 0:
            소수 = False
            break
        i += 1
        if 소수:
            return "Yes"
        else:
            return "No"
print(prime(17))

Yes

#### 문제 42. 요일 구하기 (datetime 모듈 사용) <br>
2020년 1월 1일은 수요일입니다. 2020년 a월 b일은 무슨 요일일까요? <br>
두 수 a, b를 입력 받아 2020년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요. 요일의 이름은 일요일부터 토요일까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT 입니다. <br>
예를 들어, a = 5, b = 24라면 5월 24일은 일요일이므로 문자열 "SUN"을 반환하세요. <br>
제한 조건 <br>
- 2020년은 윤년입니다.
- 2020년 a월 b일은 실제로 있는 날입니다. (13월 26일이나 2월 45일 같은 날짜는 주어지지 않습니다.)
- datetime 모듈을 사용하세요.

In [10]:
import datetime
a = int(input())
b = int(input())

def sol(a, b):
    day = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"]
    return day[datetime.data(2020, a, b).weekday()]
print(sol(a,b))

5
24

AttributeError: module 'datetime' has no attribute 'data'

#### 문제 43. 10진수를 2진수로 <br>
우리가 흔히 사용하는 숫자 1, 8, 19, 28893 등등... 은 10진수 체계입니다. <br>
이를 컴퓨터가 알아 들을 수 있는 2진수로 바꾸려고 합니다. 어떻게 해야 할까요? <br>
예를 들어 13은 2^3 + 2^2 + 2^0 = 13 이기 때문에 1101로 표현합니다. <br>
사용자에게 숫자를 입력 받고 이를 2진수를 바꾸고 그 값을 출력해주세요. (bin 함수를 사용하지 않고 풀어주세요.)

In [5]:
a = int(input())
b = []
while a:
    b.append(str(a % 2))
    a = int(a / 2)
b.reverse()
print(' '.join(b))

13
1 1 0 1

#### 문제 44. 각 자리수의 합 <br>
사용자가 입력한 양의 정수 각 자리수의 합을 구하는 프로그램을 만들어 주세요. <br>
예를 들어 <br>
18234 = 1 + 8 + 2 + 3 + 4 이고 정답은 18 입니다. <br>
3849 = 3 + 8 + 4 + 9 이고 정답은 24입니다.

In [6]:
result = 0
for i in input():
    result += int(i)
print(result)

18234
18

In [7]:
result = 0
for i in input():
    result += int(i)
print(result)

3849
24

#### 문제 45. time함수 사용하기 <br>
python의 모듈 중 하나인 time 모듈은 1970년 1월 1일 0시 0분 0초 이후로부터 지금까지 흐른 시간을 초단위로 반환합니다. <br>
이를 이용하여 현재 연도 (2021)를 출력해보세요.

In [8]:
import time
t = time.time()
t = int(t//(3600 * 24 * 365)) + 1970

print(t)

2021

#### 문제 46. str 자료형의 응용 <br>
1부터 100까지의(100을 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하세요. <br>
예를 들어 10부터 15까지의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25입니다.

In [22]:
s = " "

result = 0

for i in range(101):
    s += str(i)
for i in s:
    result += int(i)

print(result)

ValueError: invalid literal for int() with base 10: ' '

#### 문제 47. set 자료형의 응용 <br>
바울랩에서는 3월 29일 제주대학교에서 '제주 빅데이터 사회 혁신 해커톤' 행사를 주최하게 되었습니다. 이에 구글 설문지를 배포하였으나 제주대학생들이 중복해서 n개씩 설문제를 제출하였습니다. 중복된 데이터들을 삭제하여 실제 접수 명단이 몇 명인지 알고 싶습니다. <br>
아래 주어진 데이터들로부터 중복을 제거하여 실제 접수 인원을 출력해 주세요.

In [1]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]

NameError: name 'Python' is not defined

In [15]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]

print(len(set(people)))

5

#### 문제 48. 대소문자 바꿔서 출력하기 <br>
문자열이 주어지면 대문자와 소문자를 바꿔서 출력하는 프로그램을 작성하세요. <br><br>

입력: AAABBBcccddd <br>
출력: aaabbbCCCDDD

In [21]:
a = input()
b = []
for i in a:
    if i.islower():
        b.append(i.upper())
    else:
        b.append(i.lower())
for i in b:
    print(i, end = " ")

AAABBBcccddd
a a a b b b C C C D D D

#### 문제 49. 최댓값 구하기 <br>
순서가 없는 10개의 숫자가 공백으로 구분 되어 주어진다. 주어진 숫자들 중 최댓값을 반환하라. <br><br>

입력: 10 9 8 7 6 5 4 3 2 1 <br>
출력: 10

In [20]:
a = list(map(int, input().split()))
print(sorted(a)[-1])

10 9 8 7 6 5 4 3 2 1
10

#### 문제 50. 버블 정렬 구현하기 <br>
버블정렬은 두 인접한 원소를 검사하여 정렬하는 방법을 말합니다. 시간 복잡도는 느리지만 코드가 단순하기 때문에 자주 사용됩니다. 아래 코드의 빈 칸을 채워 버블 정렬을 완성해 봅시다.

In [2]:
def bubble(n, data):
    for i in range(n-1):
        for j in range(빈칸을 채워주세요):
            if data[j] > data[j+1]:
                빈칸을 채워주세요
    for i in range(n):
        print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

SyntaxError: invalid syntax (<ipython-input-2-9960779e5c87>, line 3)

In [19]:
def bubble(n, data):
    for i in range(n-1):
        for j in range(n-i-1):
            if data[j] > data[j+1]:
                data[j], data[j+1] = data[j+1], data[j]
    for i in range(n):
        print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

5
4 3 1 2 5
1 2 3 4 5